<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Dog</title>
</head>
<body>
    <h1>Random Dog Image</h1>
    <button id="fetchDog">Get Dog</button>
    <br><br>
    <img id="dogImage" width="400" alt="Random Dog">

    <script>
        document.getElementById('fetchDog').onclick = async () => {
            const response = await fetch('/random-dog');
            const data = await response.json();
            document.getElementById('dogImage').src = data.url;
        }
    </script>
</body>
</html>